<!DOCTYPE html>
<!--
In Node.js Create a server that will do the following:

When the user goes to http://localhost:3000/
.
 it will display an html page that will have your name and ten things you like in an ordered list.  It can be about food, video games, movies, or places you have visited.   Add two links on the page after the list. Also add a paragraph on why you picked the topic. One for the Add to List page with a non working form to add new entries and the other should be a page to secure and login to the entries page.

Since there are three possible pages, have index be the default page with your list that you come up withLinks to an external site. Use static routes that we created with express in class to load the site from http://localhost:3000/.

Use Git to store a version of your site on GitHub and submit the link here. If your account is private please add me to your repository. Otherwise make it public.
-->

<head>
	<meta charset="utf-8">
	<meta id="description" content="site served on port 3000">
	<meta id="author" content="Joseph Fox">
	
	<title>Assignment 1</title>
</head>
<body>
	<div id="container">
		<h1>Joseph Fox</h1>
		
		<h2>Likes:</h2>
		
		1. Sushi<br />
		2. Pizza<br />
		3. King Crab<br />
		4. Seafood Chimichanga<br />
		5. Frozen Drink<br />
		6. Ribeye<br />
		7. Lobster Fried Rice<br />
		8. Chicken Noodle Soup<br />
		9. Bread<br />
		10. Ice Cream<br />
		<br/>
		<tab>I decided to list the foods I have eatten ranked based on which ones I like the most. The lower the number the higher I regard the food. I picked this because it would be inappropriate to list my favorite sexy outfits. The two highest items easily take that position due to their flexibility, sushi and pizza can be almost anything within reason. Most of the list is seafood because fish are delicious.<br/>
		
		<h3>Links:</h3>
		<a href="addToList.html">Add to list</a><br />
		<a href="logIn.html">Log in</a><br />
	</div>
</body>